<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
    <meta charset="ISO-8859-1">
    <title>NGO Donation</title>
</head>
<body>
	<ul>
  		<li><a href="/">Home</a></li>
  		<li><a href="user_index">Users</a></li>
  		<li><a href="mvc/new_user">New User</a></li>
  		<li><a href="donation_index">Donation Index</a></li>
  		<li><a href="mvc/new_donation">New Donation</a></li>
	</ul>
	<h3>Donations</h3>
	<table>
	<tbody>
			<tr>
    			<th>Name</th>
    			<th>Date</th>
    			<th>Amount($)</th>
    			<th>Donation Type</th>
  			</tr>
            <tr th:each="donation:${donations}">
                <td th:text="${donation.name}"></td>
                <td th:text="${donation.date}"></td>
                <td th:text="${donation.amount}"></td>
                <td th:text="${donation.donationType}"></td>
        </tbody>
    </table>

</body>

</html>