<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<ul>
  		<li><a href="../">Home</a></li>
  		<li><a href="../user_index">Users</a></li>
  		<li><a href="new_user">New User</a></li>
  		<li><a href="../donation_index">Donation Index</a></li>
  		<li><a href="new_donation">New Donation</a></li>
	</ul>

<form action="#" th:action="@{/save_donation}" th:object="${donation}" method="post">

      Name:
      <input type="text" th:field="*{name}"/><br>

      Date:
      <input type="text" th:field="*{date}"/><br>

      Amount:
      <input type="text" th:field="*{amount}"/><br>
      
      Type:
      <select th:field="*{donationType}">
    	<option value="misc">Misc</option>
    	<option value="Mission Trip">Mission Trip</option>
    	<option value="Fun Run">Fun Run</option>
	</select><br> 

      <button type="submit">save</button>

</form>

</body>
</html>