<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>

<form action="#" th:action="@{/save}" th:object="${user}" method="post">

      First Name:
      <input type="text" th:field="*{firstName}"/><br>

      Last Name:
      <input type="text" th:field="*{lastName}"/><br>

      Email:
      <input type="text" th:field="*{email}"/><br>
      
      Admin:
      <input type="text" th:field="*{admin}"/><br> 

      <button type="submit">save</button>

</form>

</body>
</html>