<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="ISO-8859-1">
    <title>Users</title>
</head>
<body>
	<ul>
  		<li><a href="/">Home</a></li>
  		<li><a href="user_index">Users</a></li>
  		<li><a href="mvc/new_user">New User</a></li>
  		<li><a href="donation_index">Donation Index</a></li>
  		<li><a href="mvc/new_donation">New Donation</a></li>
	</ul>
	<h3>Users</h3>
	<table>
	<tbody>
			 <tr>
    			<th>ID</th>
    			<th>First Name</th>
    			<th>Last Name</th>
    			<th>Email</th>
    			<th>Admin</th>
  			</tr>
            <tr th:each="user:${users}">
            	<td th:text="${user.id}"></td>
                <td th:text="${user.FirstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.admin}"></td>
        </tbody>
    </table>

</body>

</html>